<div class="container mt-5 d-flex flex-column" style="min-height: 80vh;">

  <div class="d-flex justify-content-between mb-4">
    <h2>Billing</h2>
  </div>

  <div class="d-flex justify-content-between mb-4">
    <input type="text" class="form-control w-50" id="search" placeholder="Search ..." [(ngModel)]="searchText"
      (input)="filterBillings()">
    <button class="btn btn-primary" routerLink="/billing/new">Add</button>
  </div>


  <div class="row" id="snapList">
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>Sl No</th>
          <th>Customer Name</th>
          <th>Email</th>
          <th>Phone No</th>
          <th>Total Qty</th>
          <th>Total Price</th>
          <th>Created Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let billing of filteredBillings; let i = index">
          <td [routerLink]="['/viewbilling', billing.id]">{{ i + 1 }}</td>
          <td style="cursor: pointer;" [routerLink]="['/viewbilling', billing.id]">{{ billing.customerName }}</td>
          <td style="cursor: pointer;" [routerLink]="['/viewbilling', billing.id]">{{ billing.customerEmail }}</td>
          <td style="cursor: pointer;" [routerLink]="['/viewbilling', billing.id]">{{ billing.customerPhone }}</td>
          <td style="cursor: pointer;" [routerLink]="['/viewbilling', billing.id]">{{ billing.totalQty }}</td>
          <td style="cursor: pointer;" [routerLink]="['/viewbilling', billing.id]">{{ billing.totalAmount }}</td>
          <td style="cursor: pointer;" [routerLink]="['/viewbilling', billing.id]">{{ billing.createdDate |
            date:'dd/MM/yyyy' }}</td>
        </tr>
        <tr *ngIf="filteredBillings.length === 0">
          <td colspan="7" class="text-center">No billings found.</td>
        </tr>
    </table>
  </div>

  <div class="d-flex justify-content-center mt-auto mb-3">
    <nav>
      <ul class="pagination" style="cursor: pointer;">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="previousPage()">Previous</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link">Page {{ currentPage }}</a>
        </li>
        <li class="page-item" [class.disabled]="filteredBillings.length < (currentPage === 1 ? 10 : 15)">
          <a class="page-link" (click)="nextPage()">Next</a>
        </li>
      </ul>
    </nav>
  </div>

</div>