<div class="content">
  <div class="container mt-4">
      <div class="card p-3 mb-4">
          <h5>Add / Edit Product</h5>

          <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
              <div class="row">
                  <div class="col-md-6">
                      <label for="productName" class="form-label">Product Name</label>
                      <input type="text" id="productName" class="form-control" formControlName="productName">
                      <div *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched" class="text-danger">
                          Product name is required.
                      </div>
                  </div>

                  <div class="col-md-6">
                      <label for="barcode" class="form-label">Mrp</label>
                      <input type="text" id="barcode" class="form-control" formControlName="barcode">
                  </div>

                  <div class="col-md-6">
                      <label for="expireDate" class="form-label">Expire Date</label>
                      <input type="date" id="expireDate" class="form-control" formControlName="expireDate">
                  </div>

                  <div class="col-md-6">
                      <label for="manufactureDate" class="form-label">Manufacture Date</label>
                      <input type="date" id="manufactureDate" class="form-control" formControlName="manufactureDate">
                  </div>

                  <div class="col-md-6">
                      <label for="price" class="form-label">Price</label>
                      <input type="number" id="price" class="form-control" formControlName="price">
                  </div>

                  <div class="col-md-6">
                      <label for="discount" class="form-label">Discount (%)</label>
                      <input type="number" id="discount" class="form-control" formControlName="discount">
                  </div>

                  <div class="col-md-6">
                      <label for="gst" class="form-label">GST (%)</label>
                      <input type="number" id="gst" class="form-control" formControlName="gst">
                  </div>

                  <!-- <div class="col-md-6">
                      <label for="remainingQty" class="form-label">Remaining Quantity</label>
                      <input type="number" id="remainingQty" readonly class="form-control" formControlName="remainingQty">
                  </div> -->

                  <div class="col-md-6">
                      <label for="totalQty" class="form-label">Total Quantity</label>
                      <input type="number" id="totalQty" class="form-control" formControlName="totalQty">
                  </div>                
              </div>

              <button type="submit" class="btn btn-primary mt-3" [disabled]="productForm.invalid" >Save Product</button>
          </form>
      </div>
  </div>
</div>
